# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

# Чужие моды для локального теста - не часть проекта
test-mods-1.20.1/

# Отдельный мод, ему нужен свой репозиторий
frostfiretrinkets/

# Отдельный мод, ему нужен свой репозиторий
levelsyncedthreat/

# Отдельный мод, ему нужен свой репозиторий
peripheral/
/releases

# Чужие моды для локального теста 1.19.2 - не часть проекта
test-mods-1.19.2/

# Чужие моды для локального теста 1.18.2 - не часть проекта
test-mods-1.18.2/
